* {
  background-color: wheat;
}
.h1,
.judul {
  display: flex;
  color: black;
  justify-content: center;
}

.opsi {
  justify-content: center;
  display: grid;
  color: black;
  grid-template-columns: 20rem;
}

.pencarian {
  display: flex;
  justify-content: center;
  background-color: black;
}

.kategori {
  display: flex;
  justify-content: center;
}

.btn-kategori {
  margin: 2rem;
}

/* container menu */
.container-menu {
  border: 1px solid black;
}

/* menu */
.menu {
  background-color: white;
}

.poster-menu {
  background-color: white;
}
.nama-barang {
  background-color: white;
}
.poster-menu {
  background-color: white;
}
.harga {
  background-color: white;
}
.detail {
  background-color: white;
}
