/* Global Style */
:root {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
}

/* dalam hamburger menu */
.formhamburgermenu {
  z-index: 9;
  position: absolute;
  background-color: rgb(42, 42, 42);
  width: 17rem;
  height: 25rem;
  border-radius: 1rem;
  margin-left: 4rem;
  margin-top: 18.5rem;
  display: none;
}

.form-hamburger-menu.active {
  display: block;
}

.setting a,
.aktivitas a,
.saved a,
.switch a,
.report a,
.akun,
.logout {
  display: flex;
  font-size: 110%;
  margin-top: 15px;
  margin-left: 9px;
  margin-right: 9px;
  padding: 8px;
  padding-left: 15px;

  border-radius: 5px;
}

.setting a:hover,
.aktivitas a:hover,
.saved a:hover,
.switch a:hover,
.report a:hover {
  background-color: rgb(62, 62, 62);
  border-radius: 10px;
}

.akun:hover,
.logout:hover {
  background-color: rgb(62, 62, 62);
  border-radius: 10px;
}

.bawah-setting {
  border-top: 5px solid rgb(78, 78, 78);
  height: 9rem;
  margin-top: 0.5rem;
}

.batas-setting {
  border-top: 1px solid grey;
  margin-top: 0.5rem;
}

.bawah-setting .logout {
  margin-top: 0.5rem;
}

.akun {
  margin-top: 0.6rem;
}

.setting p,
.aktivitas p,
.saved p,
.switch p,
.report p,
.akun p,
.logout p {
  margin-right: 1rem;
  margin-left: 0.5rem;
  font-size: 80%;
}

/* dalam hamburger menu end */

/* Main Layout */
.main {
  display: grid;
  min-height: 200rem;
  grid-template-columns: 15.4rem 38.5rem 27rem;
  justify-content: space-between;
  align-items: start;
}

.nama-profil {
  margin-bottom: 0.2rem;
}

/* Main1 */

.main1 {
  position: fixed;
  height: 100vh;
  display: block;
  border-right: 1px solid rgb(79, 79, 79);
  width: 15.4rem;
}

.logo {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.logo2 {
  display: none;
}
/* menu */
.menu {
  margin-bottom: 2rem;
  margin-left: 1rem;

  height: 30rem;
  
}

.bungkus-menu {
  font-size: 110%;
  display: flex;
  padding-left: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 12.5rem;
  height: 2.5rem;
}

.bungkus-menu a {
  margin-right: 10px;
}

.bungkus-menu:hover {
  background-color: rgb(33, 33, 33);
}

/* lainnya */
.more {
  margin-bottom: 2rem;
  margin-left: 1rem;
  height: 30rem;
  
}

.bungkus-more {
  font-size: 110%;
  display: flex;
  padding-left: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 10px;

  width: 12.5rem;
  height: 2.5rem;
}

.bungkus-mmore a {
  margin-right: 10px;
}

.bungkus-more:hover {
  background-color: rgb(33, 33, 33);
}




/* Main2 */
.main2 {
  padding-top: 1.5rem;
  border: 1px solid orange;
}

/* story */

.story {
  overflow-x: auto;
  display: flex;
  margin-top: 0.5rem;
  gap: 0.45rem;
  overflow-x: auto;
}

.story img {
  border: 3px solid orange;
  padding: 0.3rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.story .story1 {
  left: auto;
}

/* posting */
.posting {
  display: grid;
  grid-template-columns: 30rem;
  justify-content: center;
}

.posting-next {
  border-radius: 1rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgb(21, 21, 21);
}

/* poting looping */
.border-posting {
  border-bottom: 1px solid rgb(36, 36, 36);
  padding-bottom: 1rem;
}

.posting-next {
  margin-top: 1rem;
}

/* posting1 */
.profil-posting img {
  border-radius: 50%;
  padding: 0.2rem;
  border: 2px solid orange;
  width: 2rem;
  height: 2rem;
}

.profil-kanan .alihkan span {
  color: blue;
}

.posting1 {
  display: flex;
  justify-content: space-between;
}
.menu-posting {
  display: flex;
  align-items: center;
}
.posting1 .kiri-posting1 {
  display: flex;
  margin: 0.3rem;
  align-items: center;
}

.posting1 .kiri-posting1 a {
  margin: 0.5rem;
}
/* posting1 end */
/* posting2 */
.posting2 {
  display: flex;
  justify-content: center;
}

.foto-posting img {
  min-width: 30rem;
  max-height: 60rem;
}
/* posting2 end */

/* posting3 */
.navbar-posting {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.navbar-posting-kiri a {
  margin-right: 0.5rem;
}
/* posting3 end */

/* posting4 */
.posting4 .like-notif {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
/* posting4 end */

/* main3 */
/* profil chact */
.main3 {
  padding-bottom: 200rem;
  padding-top: 2rem;

  border: 1px solid red;
}

.main3-all {
  width: 18rem;
  display: block;
}
/* profil */

.alihkan {
  margin-right: 1rem;
  color: rgb(0, 0, 255);
}

.profil .profil-kiri {
  display: flex;
}
.data-diri {
  margin-left: 0.8rem;
}

.profil img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
/* profil end */

/* profil chact end */

/* chact */
.chact {
  margin-top: 1rem;
}

.chact img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.chact .chact1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.chact-kiri {
  display: flex;
}

.chact-kanan .alihkan span {
  display: flex;
  align-items: center;
  color: blue;
}
/* chact end */

/* media queeris */

/* queris 1*/
@media (max-width: 80rem) {
  /* main */

  .main {
    grid-template-columns: 8rem 38.5rem 27rem;
  }

  /* main1 */

  .bungkus-menu1 a{
    display :none;
  }



  .logo1 {
    display: none;
  }

  .logo2 {
    justify-content: center;
    display: flex;
  }

  

  /* main 3 */
  .main3 {
    margin-left: 3rem;
  }

  .main1-visi .menu {
    justify-content: center;
  }

  .menu {
    width: 4rem;
    display: block;
    justify-content: center;
  }

  .main1 {
    width: 5rem;
  }

  .gf {
    display: none;
  }

  #profil {
    display: none;
  }

  .more {
    margin-top: 8rem;
  }
}

/* queris 2 */
@media (max-width: 75rem) {
  .main {
    display: grid;
    grid-template-columns: auto 38.5rem auto;
  }

  .main3 {
    display: none;
  }

  .story {
    overflow-x: auto;
    max-width: 38.5rem;
  }
  .gf {
    display: none;
  }
}

/* queris 3 */
@media (max-width: 50rem) {
  .main {
    display: grid;
    grid-template-columns: 38.5rem;
    justify-content: center;
    margin-top: 10rem;
  }

  .main1,
  .main1-visi {
    display: none;
  }
}
