a {
  color: black;
}

* {
  text-decoration: none;
}

body {
  min-height: 200rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* all */
.all {
  margin-top: 0px;
  display: flex;
}

/* navbar atas */
/* atas */
.navbar-atas {
  width: 100%;
  position: fixed;
  background-color: white;

  top: 1px;
}

.atas {
  background-color: rgb(242, 242, 242);
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 0.1rem;
  padding-left: 1rem;
  padding-right: 0.9rem;
  font-size: 90%;
}

.atas a {
  color: rgb(52, 52, 52);
}

.kiri {
  margin-left: 2rem;
}

.kiri a:hover {
  color: rgb(1, 170, 1);
}

.kanan a {
  margin: 1rem;
}

.kanan a:hover {
  color: rgb(1, 170, 1);
}
/* tengah */
.tengah {
  align-items: center;
  display: grid;
  height: 3rem;
  grid-template-columns: 12.5rem 6rem auto 8rem 13.5rem;
}

/* judul */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 12rem;
}

.logo h1 {
  color: green;
  font-size: 200%;
}

/* kategori */
.kategori {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0rem;
  height: 2rem;
}

.kategori1:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(218, 218, 218);
  width: 5rem;
  height: 1.5rem;
  border-radius: 5px;
  background-color: rgb(218, 218, 218);
}

/* search */
.border-pencarian {
  display: grid;
  align-items: center;
  margin-right: 1rem;
}
.pencarian {
  display: grid;
  grid-template-columns: 5rem auto;
  border: 1px solid rgb(166, 166, 166);
  display: flex;
  height: 2.5rem;
  min-width: 9.5rem;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
}

.pencarian input {
  margin-left: 0.3rem;
  border: none;
  width: 100%;
  height: 2rem;
  font-size: 16px;
  outline: none;
}

/* pembungkus layanan */
.bungkus-layanan {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

/* layanan */

.layanan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 6rem;
  
}

.kerajang1 a {
  border: 1px solid black;
}

.keranjang {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0rem;
}

.keranjang a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: rgb(204, 204, 204);
  width: 2rem;
  height: 2rem;
}

/* login */
.login {
  border-left: 1px solid rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .masuk {
  width: 3.5rem;
  height: 1rem;
  border-radius: 5px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
  margin-right: 0.3rem;
}
.login .masuk a {
  color: green;
}

.login .daftar {
  width: 3.5rem;
  height: 1rem;
  border-radius: 10px;
  border: 3px solid green;
  background-color: green;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
  margin-left: 0.3rem;
}

.login .daftar a {
  color: white;
}

/* bawah */
.bawah {
  display: grid;
  grid-template-columns: 10rem 10rem;
  border-bottom: 1px solid rgb(204, 204, 204);
  justify-content: space-between;
  height: 2rem;
}
/* alamat */
.alamat {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 10rem;
}

/* iklan */
.iklan {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
}

/* folder iklan */
.folder-iklan {
  display: flex;
  justify-content: center;
  height: 20rem;
  min-width: 75rem;
  margin-bottom: 2rem;
  border: solid 5px red;
}

.folder-iklan img {
  border-radius: 15px;
}

/*                                               */
/* body2 */
.body2 {
  display: flex;
  justify-content: center;
}
/* transaksi */
.transaksi {
  border: 5px solid red;
  width: 75rem;
  height: auto;
  border-radius: 20px;
}

/* transaksi atas */
.atas-transaksi {
  width: 75rem;
  display: grid;
  grid-template-columns: 37.5rem 37.5rem;
}

/* kumpulan kategori */
.kumpulan-kategori {
  display: flex;
}
.kategori-pilihan {
  border: 1px solid black;
}
/* bungkus */
.bungkus-kategori {
  border: 1px solid black;
  display: block;
  width: 7rem;
  margin: 1rem;
}

.bungkus-kategori img {
  width: 100%;
}

.bungkus-kategori h1 {
  font-size: 80%;
  display: flex;
  justify-content: center;
}

/* top-up */
.top-up {
  border: 1px solid black;
}
/* judul */
.judul {
  display: flex;
}

.judul a {
  font-size: 50%;
}

.judul a {
  display: flex;
  align-items: center;
  border: 1px solid black;
  color: green;
}

/* atur isi transaksi */
.atur-isi-transaksi {
  display: flex;
  justify-content: center;
}

/* isi transaksi */
.isi-transaksi {
  border: 1px solid black;
  width: 37rem;
  border-radius: 10px;
  height: 9rem;
}

/* status */
.status {
  display: flex;
  margin-bottom: 1rem;
}

.status a {
  border-bottom: 1px solid green;
  width: 100vh;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
}

/* start transaksi */
.start-transaksi {
  display: grid;
  grid-template-columns: 14rem 14rem 5rem;
  justify-content: space-around;
}

/* nomor telepon */
.nomor-telepon {
  width: 14rem;
}
.nomor-telepon input {
  border: 1px solid rgb(204, 204, 204);
  height: 2rem;
  width: 14rem;
}
/* nominal */
.nominal {
  width: 14rem;
}
.nominal input {
  border: 1px solid rgb(204, 204, 204);
  height: 2rem;
  width: 14rem;
}
/* tombol */
.tombol-beli {
  display: flex;
  align-items: end;
  justify-content: center;
}

.tombol-beli button {
  background-color: rgb(1, 170, 1);
  color: white;
  height: 2.5rem;
  width: 5rem;
  font-size: 120%;
  border-radius: 8px;
  border: 1px solid rgb(1, 170, 1);
}

.start-transaksi h1 {
  font-size: 90%;
}

/*transaksi bawah */
.transaksi-bawah {
  display: flex;
  align-items: center;
  height: 6rem;
  margin-top: 2rem;
  justify-content: space-around;
}

/* pembungkus kategori */
.pembungkus-kategori {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  width: 7rem;
  height: 3rem;
}

.gambar-kategori {
}

.gambar-kategori img {
  width: 2rem;
  height: 2rem;
}

.judul-kategori {
}
